<!DOCTYPE html>
<html>
<head>
  <title>Vue table</title>
  <link rel="stylesheet" type="text/css" href="styles/style.css">
</head>
<body>
  <div id="table">
    <input type="search" placeholder="Type to search" id="search" v-model="searchKey" v-on:keyup="search" />
    <table id="table">
      <thead>
        <tr>
          <th v-on:click="sort('name')">Name</th>
          <th v-on:click="sort('email')">Email</th>
          <th v-on:click="sort('company')">Company</th>
          <th v-on:click="sort('city')">City</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in table">
          <td>{{item.name}}</td>
          <td>{{item.email}}</td>
          <td>{{item.company}}</td>
          <td>{{item.city}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <script type="text/javascript" src="data.json"></script>
  <script type="text/javascript" src="node_modules/vue/dist/vue.js"></script>
  <script type="text/javascript" src="scripts/utils.js"></script>
  <script type="text/javascript" src="scripts/table.js"></script>
</body>
</html>